// Colores
$color-principal: #545454;
$color-secundario: gray;
$color-texto: black;
$color-fondo: white;
$color-footer-bg: black;
$color-options: black, white, brown, lightpink;


// Tipografías
$fuente-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuente-secundaria: Arial, Helvetica, sans-serif;
$tamano-footer: 14px;

// Espaciado
$padding-pequeño: 5px;
$padding-mediano: 10px;
$padding-grande: 20px;

