.footer {
  background-color: $color-texto;
  color: $color-fondo;
  text-align: center;
  padding: 5px;
  font-family: $fuente-secundaria;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}