/* Mobile */
@media (max-width: 768px) {
  header, .banner, .info, .soluciones {
    flex-direction: column;
    align-items: center;
  }

  .banner .text,
  .soluciones .text {
    padding: 10px 0;
  }

  .productos,
  .products-container {
    flex-direction: column;
    align-items: center;
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; // <- esto ayuda mucho en desktop
    align-items: stretch;
  }
  
  .product {
    width: 100%;
    flex: none;
    margin-bottom: 20px;
  }

  header h1 {
    font-size: 20px;
  }
}
